.head{
	font-family: "华文隶书";
	font-size: 50px;
	color:#01BA04; 
	margin-left: 800px;
	width: 500px;
}
.name1{
	font-family: "华文新魏";
	font-size: 45px;
	color:#8EADB2;
	margin-left: 100px;
}
.name2{
	font-family: "华文新魏";
	font-size: 45px;
	margin-top: -45px;
	margin-left: 140px;
}
.name3{
	font-family: "华文新魏";
	font-size: 45px;
	color:#8EADB2;
	margin-top: -45px;
	margin-left: 310px;
}
.name4{
	font-family: "华文新魏";
	font-size: 45px;
	margin-top: -45px;
	margin-left: 350px;
}
.img1{
	width: 400px;
	height: 500px;
	margin-left: 120px;
}
.name5{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 700px;
	margin-top: -550px;
}
.name6{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 873px;
	color:#C8433C;
	margin-top: -45px;
}
.name7{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 910px;
	margin-top: -45px;
}
.name8{
	font-family: "华文新魏";
	font-size: 45px;
	color:#C8433C;
	margin-left: 949px;
	margin-top: -48px;
}
.name9{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 990px;
	margin-top: -48px;
}
.img2{
	width: 400px;
	height: 500px;
	margin-left: 720px;
}
.name10{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 1300px;
	margin-top: -550px;
	color:#F4C6D2;
}
.name11{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 1340px;
	margin-top: -48px;
	width: 190px;
}
.name12{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 1520px;
	margin-top: -48px;
	color:#F4C6D2;
}
.name13{
	font-family: "华文新魏";
	font-size: 45px;
	margin-left: 1560px;
	margin-top: -48px;
	width: 190px;
}
.img3{
	width: 400px;
	height: 500px;
	margin-left: 1320px;
}
.sun1{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	margin-top: 20px;
	color: #00949A;
}
.sun2{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	color:#00CEC9; 
}
.sun3{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	color: #00FFFF;
}
.sun4{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	color: #4BFFFF;
}
.sun5{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	color:#81FEFF; 
}
.sun6{
	text-align: center;
	font-family: "华文新魏";
	font-size: 40px;
	color: #A2FFFF;
}