*{
	margin: 0;
	padding: 0;
}
nav{
	background-color: red;
	height: 50px;
}
nav ul{
	list-style: none;
	background-color: red;
	width: 100%;
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
}
nav ul li{
	display:inline-block;
	line-height: 50px;
	margin-left: 80px;
	float: right;
}
nav ul li .choice{
	background-color: #504848;
	border: none;
}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
}
nav ul li.logo{
	float: left;
	color: #2C9515;
	margin-left: : 60px;
	height: 50px;
}
nav ul li.logo span{
    color: #B1C52E;
	position: relative;
	bottom: 20px;
	font-size: 35px;
	margin-top: 0
}
#banner{
	background-color: #777;
	height: 640px;
}
#banner .inner{
	max-width: 300;
	margin: 0px;
    text-align:center;
    position: relative;
    top: 20px;
}   
#banner .inner h1{
	font-size: 70px;
}
#banner .inner p{
	margin-top: 100px;
	font-size: 25px;	
}
button{
	list-style: none;
	border: none;

	background-color: #333;
	color:#B1A22B;
	margin-top:70px; 
	font-size: 30px;
	height: 60px;
	width: 140px;
}
button a{
	text-decoration: none;	
}
#banner .inner .more{
    margin-top: 100px;
}
.content{

}
#one{
	text-align: center;
	height:640px;
	background-color: #20A914;
}
.wrapper{
/*	max-width: 1080px;*/
	margin: 0 auto;

}
.hr{//设置下划线的样式
	width: 100%;
	height: 2px;
    
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.wrapper .hr{
	background-color:#C6B124;
	width: 50%;
}
.wrapper .hr p{
	position: relative;
	top: 300px;
	font-size:75px;
}
#one .ite{
	margin-top: 25px;
}
.deg{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #E39B84;
	transform: rotate(45deg);
	margin:45px;
	border: 3px solid #1B0C0C;


}
#two{
	height:640px;
	background-color: #2D55C6;
}
#two #pic1 img,#two #pic2 img{
	height: 150px;

}
#two #pic1{
	float: left;
	margin-left: 20px;
}
.intro{
	width: 500px;
	height: 750px;
	position: relative;
	left: 100px;
/*	background-color: #146184;*/
	margin: 0 auto;
}
#two #pic2{
	float: right;
	margin-right: 70px;
	position:relative;
	bottom: 320px;
}
#two .intro p{
	margin-top: 120px;
	position: relative;
	right:120px;
	float: right;
}
#two .intro p a{
    margin-left: 0;
    font-size: 25px;
	margin-top: 320px;
	text-decoration: none;
}
#two span{
	font-size: 20px;
	position: relative;
	bottom: 300px;
	color: yellow;
}
#three{
	height: 640px;

	background-color: #D42B87;
}
#three .num1,.num2,.num3{
	height: 33%;
	width: 100%;
/*	float: left;*/
/*	position: relative;
	bottom: 100px;*/

}
#three .num1 img{
	height: 200px;
}
#three .num1 #pict1{
	width: 33%;
	float: left;
	position: relative;
	bottom: 100px;
}
#three .num1 #pict2{
	width: 33%;
	float: left;
	position: relative;
	left: 500px;
	bottom: 250px;
}
#three .num1 #pict3{
	position: relative;
	right: 45px;
	bottom: 250px;
	float: right;
}
#three .num2 h1{
	position: relative;
	right: 414px;
}
#three .num2 #pict1{
	position: relative;
	bottom: 40px;
	right: 418px;
	float: left;
    width:400px; 
	height: 300px;
}
#three .num2 #pict2{
     float: left;
     position: relative;
     bottom: 180px;
     right: 200px;
     width: 100px;
     margin-left: 28.9%;
}
#three .num2 #pict3{
	height: 200px;
	position: relative;
	bottom: 180px;
	width: 380px;
	float: right;
	position: relative;right: 45px;
}
#three .num3 h1{
	position: relative;
	right: 880px;
}
#three .num3 #pict1{
	position: relative;
	bottom: 100px;
	width: 400px;
	height: 200px;
	float: left;
}
#three .num3 #pict2{
	float: left;
	width: 370px;
	height: 200px;
	position: relative;
	right: 40px;
	bottom: 100px;
    margin-left: 28.9%;
}
#three .num3 #pict3{
	height: 300px;
	width: 380px;
	float: right;
	position: relative;
	bottom: 100px;
	right: 45px;	
}

footer #me{
	height: 600px;
	
	background-color:#D8D0D0;
}
#pdf1{
	clear: both;
	font-size: 25px;
	color: #22658A;
	position: relative;
	top: 5px;
    right: 350px;
}
#pdf2{
	font-size: 30px;
	color: #8F9C09;
	position: relative;
	top: 70px;
	right: 350px;
}
#pdf3{
	text-align: center;
	position: relative;
	top:400px;
	left:110px;
}
