*{
	margin: 0;
	padding: 0;
}
.head{
	height: 300px;
	background-color: black;
}
.word1{
	height: 100px;
	width: 300px;
	font-size: 50px;
	font-family: "微软雅黑";
	color: white;
	margin-left: 200px;
}
.word2{
	color: white;
	font-family: "微软雅黑";
	font-size: 20px;
	margin-left: 200px;
}
.pho{
	height: 150px;
	width: 150px;
    margin-left: 1100px;
    margin-top: -180px;
}
.head1{
	width: 300px;
	margin-left: 200px;
	margin-top: 20px;
	color: blue;
	font-family: "微软雅黑";
}
.bod1{
	width: 200px;
	height: 50px;
	font-family: "微软雅黑";
	font-size: 30px;
    margin-top: 50px;
    margin-left: 200px;
}
.bod2{
	width: 500px;
	height: 50px;
	margin-top: 20px;
	margin-left: 200px;
}
.line{
	height: 2px;
	width: 700px;
	background-color: #d3d5d4;
	margin-left: 200px;
	margin-top: 15px;
}
.bod3{
	width: 500px;
	height: 50px;
	font-family: "微软雅黑";
	font-size: 30px;
    margin-top: 20px;
    margin-left: 200px;
}
.bod4{
	width: 650px;
    margin-top: 20px;
    margin-left: 200px;
    line-height: 23px;
}
.bod5{
	width: 500px;
	height: 50px;
	font-family: "微软雅黑";
	font-size: 30px;
    margin-top: 20px;
    margin-left: 200px;
}
.bod6{
	margin-left: 200px;
	margin-top: 20px;
}
.pho2{
	width: 200px;
	margin-left: 1100px;
	margin-top: -700px;
}